.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.click:hover,
.click:focus,
.click:active {
  color: #0070f3;
}
